.pageContainer {
  display: grid;
  justify-content: center;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #3b3b3b;
  color: black;
}

.header {
  padding: 10px;
  margin: 10px;
  border-radius: .5rem;
  text-align: center;
  color: white;
}

.content {
  padding: 10px;
  margin: 10px;
  border-radius: .5rem;
  text-align: left;
  /* background-color: darkblue; */
}

.footer {
  padding: 10px;
  margin: 10px;
  border-radius: .5rem;
  text-align: center;
  /* background-color: darkgreen; */
}

.stack {
  display: flex;
  padding: 10px;
  border-radius: .5rem;
  column-gap: 10px;
}

.convolutionalSection {
  background-color: white;
  margin-top: 50px;
  margin-bottom: 100px;
  /* border: 0.5px solid black; */
  /* border-radius: .5rem; */
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.644);
}

.unnitationSection {
  background-color: white;
  margin-bottom: 100px;
  /* border: 0.5px solid black; */
  /* border-radius: .5rem; */
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.644);
}

.aquaSection {
  background-color: white;
  margin-bottom: 50px;
  /* border: 0.5px solid black; */
  /* border-radius: .5rem; */
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.644);
}

.pageContainer h1 {
  /* background-color: darkseagreen; */
  padding: 5px;
  border-radius: 0.5rem;
}

.convolutionalSection .header {
  background-color: darkslateblue;
}

.pageContainer .convolutionalSection h2 {
  font-size: 20px;
  font-style: normal;
  background-color: rgba(71, 61, 139, 0.503);
  padding: 2px;
  padding-top: 6px;
  padding-left: 3px;
  text-align: left;
  /* text-decoration: underline 1px; */
  width: 30%;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.unnitationSection .header {
  background-color: darkolivegreen;
}

.pageContainer .unnitationSection h2 {
  font-size: 20px;
  font-style: normal;
  background-color: rgba(85, 107, 47, 0.503);
  padding: 2px;
  padding-top: 6px;
  padding-left: 3px;
  text-align: left;
  /* text-decoration: underline 1px; */
  width: 30%;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.aquaSection .header {
  background-color: darkgoldenrod;
}

.pageContainer .aquaSection h2 {
  font-size: 20px;
  font-style: normal;
  background-color: rgba(184, 135, 11, 0.493);
  padding: 2px;
  padding-top: 6px;
  padding-left: 3px;
  text-align: left;
  /* text-decoration: underline 1px; */
  width: 30%;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.textContent {
  margin-left: 10px;
  font-size: 15px;
}

.header h1 {
  font-size: 45px;
}

.header h3 {
  font-size: 35px;
  position: relative;
  bottom: 20px;
  font-style: oblique;
}
