.bunny {
  position: absolute;
  bottom: 20px;
  right: 150px;
  width: 100px;
}

.bunny:hover {
  cursor: pointer;
}

.dancingPlant {
  position: absolute;
  bottom: 20px;
  right: 70px;
  width: 100px;
}

.feedMe {
  position: fixed;
  bottom: 130px;
  right: 240px;
  font-family: 'Pacifico', cursive;
  z-index: 0;
  color: black;
}

.thinkingPopUp {
  position: fixed;
  bottom: 60px;
  right: 200px;
}


.carrot {
  position: absolute;
  bottom: -75px;
  right: 500px;
  width: 50px;
  user-select: none;
  z-index: 3;
}

.carrot:hover {
  cursor: grabbing;
}

.questionMark {
  position: absolute;
  bottom: 20px;
  right: 520px;
  width: 10px;
}

.carrotAndQuestion {
  position: absolute;
  top: 100vh;
  right: 20vw;
}

.confetti {
  position: relative;
  left: 70vh;
  top: 90vh;
}