.folder {
  /* background-color: blue; */
  width: 120px;
}

.imgContainer {
  /* background-color: green; */
  display: flex;
  justify-content: center;
}

.textContainer {
  /* background-color: yellow; */
  position: relative;
  bottom: 20px;
  text-align: center;
}

.folder img {
  /* background-color: red; */
  padding: 10px;
  width: 50px;
  height: 50px;
}

.folder img:hover {
  border-radius: 0.2rem;
  background-color: rgba(0, 170, 255, 0.24);
  cursor: pointer;
}

.textContainer:hover {
  cursor: pointer;
}
