.container {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgb(221, 240, 255);
  font-family: "Lucida Console", "Courier New", monospace;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
}

.header {
  /* position: sticky; */
  /* top: 0px; */
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 50px;
}

.footer {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  gap: 10px;
  background-color: rgb(198, 207, 215);
  margin-bottom: 50px;
}

.content {
  background-color: rgb(198, 207, 215);
  margin-bottom: 50px;
  /* box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.524); */
}